<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
        .red{
          color:red;
        }
        .green{
          color:green;
        }
        .blue{
          color:blue;
        }
        </style>
    </head>
    <body>
      <div id="app">
            <ul>
             
              <li v-for="(item,index) in filterList" v-bind:key="index"> <input type="checkbox" v-bind:checked='item.flag'>{{item.text}}</li>
             
            </ul>
            <button @click="type='all'">全部</button>
            <button @click="type='completed'">完成的</button>
            <button @click="type='uncompleted'">未完成</button>
            <input type="text" v-model="n">{{n}}
            <p v-bind:class="{'red':n<60,'green':n>=85,'blue':n>=60&&n<85}">{{grade}}</p>
      </div>
    </body>
</html>
<script src="./static/js/vue.js"></script>
<script>
 var vm = new Vue({
   el:"#app",
   data:{
     n:60,
     list:[
     {text:"今天开心",flag:true},
     {text:"今天好开心",flag:false},
     {text:"今天特别开心",flag:true}
     ],
     type:'all'
   },
   computed:{
    filterList(){
      return this.list.filter((item)=>{
        if(this.type==='all'){
              return true;
        }else if(this.type==='completed'){
              return item.flag;
        }else{
              return !item.flag;
        }
      })
    },
    grade(){
      if(this.n<60){
        return "不及格"
      }else if(this.n>=85){
        return "优秀"
      }else{
        return "及格"
      }
    }
   }

 })
</script>